######################################################################
# G-Code macros and events for 2017 Monoprice Mini Delta
######################################################################

# G-Code macros (one may define any number of sections with a
# "gcode_macro" prefix).

######################################################################
# Status LEDs
######################################################################

[gcode_macro CONSTANTS]
variable_default_red: 1.0
variable_default_green: 1.0
variable_default_blue: 1.0
gcode:

[gcode_macro INIT_LED]
gcode:
  SET_LED LED=status_led RED={printer["gcode_macro CONSTANTS"].default_red} GREEN={printer["gcode_macro CONSTANTS"].default_green} BLUE={printer["gcode_macro CONSTANTS"].default_blue}

[delayed_gcode init_led_on_start]
initial_duration: 1
gcode:
  INIT_LED

######################################################################
# Buttons
######################################################################

[gcode_macro BUTTON_STATE]
variable_pressed: 0
variable_duration: 0.0
variable_step_sec: 0.2       # loop period in seconds
variable_threshold_sec: 2.0  # long-press threshold
variable_ignore_sec: 4.0     # long-press duration to ignore
gcode:
    ; state holder macro

# combination emergency stop button
# short press for emergency stop
# long press >= 2 seconds and < 4 secondsto restart firmware
# long press >= 4 seconds is ignored
# long press will not work when in emergency stop state
[gcode_button estop_combo]
pin: ~PA15
debounce_delay: 0.05 # debounce time in seconds

press_gcode:
#   A list of G-Code commands to execute when the button is pressed.
#   G-Code templates are supported. This parameter must be provided.
  # Record press time and mark pressed
  SET_GCODE_VARIABLE MACRO=BUTTON_STATE VARIABLE=pressed VALUE=1
  SET_GCODE_VARIABLE MACRO=BUTTON_STATE VARIABLE=duration VALUE=0
  # Start feedback loop
  UPDATE_DELAYED_GCODE ID=button_feedback DURATION={printer["gcode_macro BUTTON_STATE"].step_sec}
  
release_gcode:
#   A list of G-Code commands to execute when the button is released.
#   G-Code templates are supported. The default is to not run any
#   commands on a button release.
  SET_GCODE_VARIABLE MACRO=BUTTON_STATE VARIABLE=pressed VALUE=0
  {% set duration = printer["gcode_macro BUTTON_STATE"].duration|float %}
  {% if duration < printer["gcode_macro BUTTON_STATE"].threshold_sec %}
    # Short press → Emergency stop
    SET_LED LED=status_led RED=1
    RESPOND TYPE=command MSG="EMERGENCY STOP!"
    M112
  {% else %}
    {% if duration < printer["gcode_macro BUTTON_STATE"].ignore_sec %}
      # Long press → Firmware restart
      SET_LED LED=status_led RED=1 BLUE=1
      RESPOND TYPE=command MSG="Firmware restarting..."
      G4 P500
      FIRMWARE_RESTART
    {% else %}
      # Extra long press → ignore
      INIT_LED
    {% endif %}
  {% endif %}

[delayed_gcode button_feedback]
initial_duration: 0.0
gcode:
  {% if printer["gcode_macro BUTTON_STATE"].pressed == 1 %}
    # increment duration by step size
    {% set step = printer["gcode_macro BUTTON_STATE"].step_sec|float %}
    {% set dur = (printer["gcode_macro BUTTON_STATE"].duration|float) + step %}
    SET_GCODE_VARIABLE MACRO=BUTTON_STATE VARIABLE=duration VALUE={dur}
    {% set th = printer["gcode_macro BUTTON_STATE"].threshold_sec|float %}
    {% set ignore = printer["gcode_macro BUTTON_STATE"].ignore_sec|float %}

    {% if dur < th %}
      # Short press mode → blink red only
      SET_LED LED=status_led RED=1
      G4 P200
      SET_LED LED=status_led RED=0
    {% else %}
      {% if dur < ignore %}
        # Long press mode → alternate red/blue
        SET_LED LED=status_led RED=1
        G4 P200
        SET_LED LED=status_led BLUE=1
      {% else %}
        # Extra long press mode → blink blue
        SET_LED LED=status_led BLUE=1
        G4 P200
        SET_LED LED=status_led BLUE=0
      {% endif %}
    {% endif %}
    # Re‑schedule loop
    UPDATE_DELAYED_GCODE ID=button_feedback DURATION={step}
  {% endif %}

######################################################################
# Print macros and events
######################################################################

[gcode_macro DRAW_PRIME_ARC]
gcode:
    G92 E0 ; reset extrusion distance
    G1 X-54 Y0 Z0.4 F3000 ; Move to arc start (near edge)                                                                                       
    G3 X0 Y-54 I54 Z0.4 E15 F400 ; Draw a 90-degree arc (adjust E for extrusion amount)                                                         
    G92 E0 ; Reset extrusion again                                                                                                              
    G1 X0 Y-54 Z4 E-1 F3000 ; Retract slightly & lift off bed                                                                                   

[gcode_macro START_PRINT]
gcode:
    SET_LED LED=status_led RED=1 BLUE=0 GREEN=0
    {% set BED_TARGET = params.BED|default(60)|float %}
    {% set EXTRUDER_TARGET = params.EXTRUDER|default(180)|float %}
    G90 ; switch to absolute positioning - this line was added in case Cura doesn't include it by default
    M82 ; set extruder to absolute mode - this line was added in case Cura doesn't include it by default
    G28 ; start from home position
    {% if BED_TARGET > 60 %}
      {% set BED_TEMP = printer.heater_bed.temperature %}
      {% if BED_TEMP < 50 %}
        ; preheat bed to 50 degrees before heating the nozzle
        M190 S50
      {% endif %}
    {% endif %}
    ; heat bed and nozzle at the same time by not waiting
    M140 S{BED_TARGET}
    M104 S{EXTRUDER_TARGET}
    ; wait until both target bed and nozzle temperatures are reached
    M190 S{BED_TARGET}
    M109 S{EXTRUDER_TARGET}
    ; now do mesh calibration
    G1 E-1 F700 ; retract the filament a bit
    G92 E0 ; reset extrusion distance
    BED_MESH_CALIBRATE
    G1 X0 Y0 Z15.0 F4800  ; move the nozzle up 15mm
    DRAW_PRIME_ARC
    G92 E0 ; reset extrusion distance again
    G1 F4800
    SET_LED LED=status_led RED=0 BLUE=0 GREEN=1

[gcode_macro END_PRINT]
gcode:
    M104 S0 ; turn off hotend heater
    M140 S0 ; turn off bed heater
    G91 ; Switch to use Relative Coordinates
    G1 E-3 F700 ; retract the filament a bit before lifting the nozzle to release some of the pressure
    G1 Z2 F1000 ; raise platform 2mm from current position
    G1 E-2 F700 ; retract filament even more
    G90 ; Switch back to using absolute coordinates
    G28 X Y Z ; Return to home position. Without an X Y or Z after G28 the print completion time will not be displayed on the Mini Deltas display.
    M84 ; disable motors
    M107 ; turn off fan. Do not use M106 S1. Using M106 S1 may prevent the fan from turning on for the following print. Some say M107 does not work for them but if the hotend is below 70 degrees it should work
    SET_LED LED=status_led RED=1 BLUE=1 GREEN=1

[gcode_macro CANCEL_PRINT]
rename_existing: CANCEL_PRINT_BASE
gcode:
    SET_LED LED=status_led RED=1 GREEN=0 BLUE=1
    M117 Print cancelled!
    CANCEL_PRINT_BASE

