# This file contains common pin mappings for the 2017 Monoprice
# Mini Delta. To use this config, the firmware should be compiled for the
# STM32F070 microcontroller with an 8MHz crystal and USB for communication.
#
# IMPORTANT: Use of Kipper with a Monoprice Mini Delta requires a power supply
# with a _minimum_ 120 W (i.e. 10 A) capacity! The stock power supply will not
# work, as it can't power the hotend and the bed at the same time.
#
# Note 1: Some controller boards only trigger the bootloader when an update file
# is "printed" from the LCD, rather than supporting bootloader triggering
# during bootup. It may be preferable to use an ST-Link V2 to flash the
# firmware instead. Follow this link for an example of the commands needed to
# do this: https://github.com/arkorobotics/MiniDeltaBootloader
#
# Note 2: Klipper does not currently support the LCD interface used on this
# printer.
#
# See docs/Config_Reference.md for a description of parameters.

[include mainsail.cfg]
[include macros.cfg]

[gcode_arcs]
# resolution: 1.0 # Optional: lower value for finer arcs

# Stepper A is the front-left tower, as originally wired. If you've rewired
# your steppers to "correct" this, you'll need to swap these values.
[stepper_a]
homing_speed: 50
step_pin: PB12
dir_pin: PB11
enable_pin: !PB10
microsteps: 32
rotation_distance: 56
endstop_pin: ^PC14
#position_endstop: 125.00
#arm_length: 120.8
# Some users report better success using the following value for arm_length:
#arm_length: 121.36

[stepper_b]
step_pin: PB2
dir_pin: PB1
enable_pin: !PB10
microsteps: 32
rotation_distance: 56
endstop_pin: ^PC15
#position_endstop: 125.00
#arm_length: 120.8
# Some users report better success using the following value for arm_length:
#arm_length: 121.36

[stepper_c]
step_pin: PB14
dir_pin: PB13
enable_pin: !PB10
microsteps: 32
rotation_distance: 56
endstop_pin: ^PC13
#position_endstop: 125.00
#arm_length: 120.8
# Some users report better success using the following value for arm_length:
#arm_length: 121.36

[extruder]
step_pin: PA7
dir_pin: !PA6
enable_pin: !PB0
microsteps: 32
rotation_distance: 65.984 # default
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PA1
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA0
# calibrated at 240C on stock hardware
#control: pid
#pid_Kp: 22.2
#pid_Ki: 1.08
#pid_Kd: 114
min_temp: 0
max_temp: 300
max_extrude_only_distance: 50.01

[heater_bed]
heater_pin: PA5
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA4
# calibrated at 70C on stock hardware
#control: pid
#pid_kp: 51.249
#pid_ki: 4.437
#pid_kd: 147.983
min_temp: 0
max_temp: 130

[heater_fan hotend_fan]
pin: PA8
heater: extruder
heater_temp: 50

[mcu]
serial: /dev/ttyAMA0
baud: 250000
restart_method: command

[printer]
kinematics: delta
max_velocity: 150
max_accel: 1200
max_z_velocity: 100
# minimum_z_position is negative to allow delta calibration to work
minimum_z_position: -10.0
#delta_radius: 63.00
# Some users report better success using the following value for arm_length:
#delta_radius: 62.70

[delta_calibrate]
radius: 50
speed: 50
horizontal_move_z: 5

######################################################################
# Bed leveling support
######################################################################

[bed_mesh]
speed: 50
horizontal_move_z: 5
mesh_radius: 50
round_probe_count: 5
fade_start: 1.0
fade_end: 0.0

######################################################################
# Bed probing hardware
######################################################################

[probe]
pin: ^!PB7
x_offset: 0.0
y_offset: 0.0
#z_offset: 0.0
speed: 5.0
samples: 3
sample_retract_dist: 2.0
samples_result: average
samples_tolerance: 0.100
samples_tolerance_retries: 2

######################################################################
# Other hardware
######################################################################

[led status_led]
red_pin: !PB15
green_pin: !PB8
blue_pin: !PB9
#   The pin controlling the given LED color. At least one of the above
#   parameters must be provided.
cycle_time: 0.010
#   The amount of time (in seconds) per PWM cycle. It is recommended
#   this be 10 milliseconds or greater when using software based PWM.
#   The default is 0.010 seconds.
hardware_pwm: False
#   Enable this to use hardware PWM instead of software PWM. When
#   using hardware PWM the actual cycle time is constrained by the
#   implementation and may be significantly different than the
#   requested cycle_time. The default is False.
#initial_RED: 0.0
#initial_GREEN: 0.0
#initial_BLUE: 0.0
#initial_WHITE: 0.0
#   Sets the initial LED color. Each value should be between 0.0 and
#   1.0. The default for each color is 0.


#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.210656, -0.210656, -0.210656, -0.210656, -0.210656
#*# 	  0.095676, 0.095676, -0.002117, 0.149427, 0.149427
#*# 	  0.076269, -0.101094, 0.068107, 0.162489, 0.248830
#*# 	  -0.010375, -0.010375, -0.013715, -0.080558, -0.080558
#*# 	  0.025959, 0.025959, 0.025959, 0.025959, 0.025959
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = -50.0
#*# max_x = 50.0
#*# min_y = -50.0
#*# max_y = 50.0
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 20.720
#*# pid_ki = 0.994
#*# pid_kd = 108.004
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 54.881
#*# pid_ki = 5.807
#*# pid_kd = 129.655
#*#
#*# [stepper_a]
#*# position_endstop = 122.487575
#*# angle = 210.258127
#*# arm_length = 120.800000
#*#
#*# [stepper_b]
#*# position_endstop = 123.172307
#*# angle = 329.105632
#*# arm_length = 120.800000
#*#
#*# [stepper_c]
#*# position_endstop = 122.595658
#*# angle = 90.000000
#*# arm_length = 120.800000
#*#
#*# [probe]
#*# z_offset = -0.245
#*#
#*# [printer]
#*# delta_radius = 62.912308
#*#
#*# [delta_calibrate]
#*# height0 = -0.236
#*# height0_pos = 14038.000,14094.000,14027.000
#*# height1 = -0.236
#*# height1_pos = 17431.000,17622.000,12119.000
#*# height2 = -0.236
#*# height2_pos = 13609.000,19719.000,13610.000
#*# height3 = -0.236
#*# height3_pos = 12199.000,16813.000,16844.000
#*# height4 = -0.236
#*# height4_pos = 13534.000,13524.000,17759.000
#*# height5 = -0.236
#*# height5_pos = 16365.000,12374.000,16342.000
#*# height6 = -0.236
#*# height6_pos = 18619.000,13672.000,13536.000
