######################################################################
# G-Code macros and events for 2017 Monoprice Mini Delta
######################################################################

# G-Code macros (one may define any number of sections with a
# "gcode_macro" prefix).

######################################################################
# Print macros and events
######################################################################

[gcode_macro DRAW_PRIME_ARC]
gcode:
    G92 E0 ; reset extrusion distance
    G1 X-54 Y0 Z0.4 F3000 ; Move to arc start (near edge)                                                                                       
    G3 X0 Y-54 I54 Z0.4 E15 F400 ; Draw a 90-degree arc (adjust E for extrusion amount)                                                         
    G92 E0 ; Reset extrusion again                                                                                                              
    G1 X0 Y-54 Z4 E-1 F3000 ; Retract slightly & lift off bed                                                                                   

[gcode_macro START_PRINT]
gcode:
    {% set BED_TARGET = params.BED|default(60)|float %}
    {% set EXTRUDER_TARGET = params.EXTRUDER|default(180)|float %}
    G90 ; switch to absolute positioning - this line was added in case Cura doesn't include it by default
    M82 ; set extruder to absolute mode - this line was added in case Cura doesn't include it by default
    G28 ; start from home position
    {% if BED_TARGET > 60 %}
      {% set BED_TEMP = printer.heater_bed.temperature %}
      {% if BED_TEMP < 50 %}
        ; preheat bed to 50 degrees before heating the nozzle
        M190 S50
      {% endif %}
    {% endif %}
    ; heat bed and nozzle at the same time by not waiting
    M140 S{BED_TARGET}
    M104 S{EXTRUDER_TARGET}
    ; wait until both target bed and nozzle temperatures are reached
    M190 S{BED_TARGET}
    M109 S{EXTRUDER_TARGET}
    ; now do mesh calibration
    G1 E-1 F700 ; retract the filament a bit
    G92 E0 ; reset extrusion distance
    ; BED_MESH_CALIBRATE
    G1 X0 Y0 Z15.0 F4800  ; move the nozzle up 15mm
    DRAW_PRIME_ARC
    G92 E0 ; reset extrusion distance again
    G1 F4800

[gcode_macro END_PRINT]
gcode:
    M104 S0 ; turn off hotend heater
    M140 S0 ; turn off bed heater
    G91 ; Switch to use Relative Coordinates
    G1 E-3 F700 ; retract the filament a bit before lifting the nozzle to release some of the pressure
    G1 Z2 F1000 ; raise platform 2mm from current position
    G1 E-2 F700 ; retract filament even more
    G90 ; Switch back to using absolute coordinates
    G28 X Y Z ; Return to home position. Without an X Y or Z after G28 the print completion time will not be displayed on the Mini Deltas display.
    M84 ; disable motors
    M107 ; turn off fan. Do not use M106 S1. Using M106 S1 may prevent the fan from turning on for the following print. Some say M107 does not work for them but if the hotend is below 70 degrees it should work

[gcode_macro CANCEL_PRINT]
rename_existing: CANCEL_PRINT_BASE
gcode:
    M117 Print cancelled!
    CANCEL_PRINT_BASE
